:root {
  --main-bg-color: #f9f9f9;
}

.nunito-700 {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 28px;
}

.nunito-500 {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.dm-sans-400 {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}

body {
    margin: 0;
    background-color: var(--main-bg-color);
}

header {
    display: flex;
    justify-content: center;
    background-color: white;
}

header img {
    height: 50px;
    width: 50px;
    margin: 8px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    gap: 48px;
}

.searchBar input {
    width: 600px;
    height: 40px;
    border: 1px solid grey;
    border-radius: 5px;
    background-image: url('./assets/search-icon.svg');
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding-left: 40px;
  font-size: 16px;
}

ul {
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    max-width: 1200px;
    gap: 24px;
    padding: 0px;
}

li {
    height: 422px;
    width: 384px;
    background-color:white;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}

.card-text {
    width: 90%;
}

li img {
    width: 352px;
    height: 300px;
    object-fit: cover;
    border-radius: 16px;
    margin-bottom: 16px;
}

.floating-items {
    display: flex;
    justify-content: space-between;
}

.price {
    width: 85px;
    height: 40px;
    background-color: white;
    position: relative;
    bottom: 70px;
    left: 10px;
    border-radius: 100px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow {
    height: 40px;
    width: 40px;
    position: relative;
    bottom: 70px;
    right: 10px;
    background-color: white;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow img {
    height: 24px;
    width: 24px;
    padding-top: 15px;
}
